body {
	font-family: 'Raleway', sans-serif;
	background-color: #fab746;
}
.jumbotron {
	background-color: #9eed1a;
}
.carousel-item img {
	width: 30%;
	height: 60%;
	margin: auto;
	display: block;

}
#messageform {
	padding: 60px 10%;
}
#mod {
	display: block;
	margin: auto;
}
h3 {
	font-size: 25px;

}
body {
  font-size: 62.5%;
  font-style: Arial;
}

#main-paragraph-tital {
	font-size: 25px;
	padding-left: 10px;
	font-family: 'Signika Negative', sans-serif;
}
.nav-link {
	font-size: 200%;
	font-family: 'Patua One', cursive;
}
.navbar-brand {
	font-size: 350%;
	font-family: 'Acme', sans-serif;
}
#aboutus {
	padding: 3% 5%;
}
#aboutus-me {
	font-family: 'Oleo Script', cursive;
}
#messageform {
	padding: 40px 10%;
	font-size: 15px;
}
#head {
	padding: 40px 10%;
	font-size: 30px;
}
.modal-body {
	font-size: 20px;
}
#comicButton {
	padding-left: 10px;
}
.lightgreen {
	background-color: #30ff3f;
}
#family {
	width: 20%;
}
#aboutme {
	font-size: 40px;
	display: block;
	margin: auto;
}
#jumbotron1 {
	padding-left: 7%;
}
#jumbotron2 {
	padding-left: 10%;
}
#titalboi {
	padding-left: 10%
}
#zion {
	width: 40%;
}
#zion-ree {
	width: 40%;
	padding-bottom: 10%;
}